.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-lista h2 {
  margin-bottom: 32px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0px 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
  transition: 0.3s;
}

.bicicletas-lista img:hover {
  box-shadow: 0px 1px 5px 0px var(--cor-07);
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: 0.3s;
  border-radius: 5px;
}

.bicicletas-lista h3:hover:before {
  width: 24px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }
  .bicicletas-lista ul {
    gap: 20px;
  }
}
