.texto-grande {
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Poppins";
  font-weight: 600;
}

.texto-medio {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: "Roboto";
  font-weight: 400;
}
