#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-01) 0);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  left: -12px;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  border-radius: 4px 0 0 4px;
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat bottom 20px left 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-content: start;
}

.orcamento-produto > * {
  grid-column: 1 / -1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--cor-04);
  background-color: var(--cor-10);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--cor-10);
}

.orcamento-produto input:checked + label {
  background: var(--cor-00);
  color: var(--cor-11);
}

.orcamento-produto label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid var(--cor-06);
  border-radius: 50%;
  margin-right: 8px;
}

.orcamento-produto input:checked + label::before {
  border-color: var(--cor-07);
  box-shadow: inset 0 0 0 3px var(--cor-00), inset 0 0 0 6px var(--cor-07);
}

.orcamento-produto label:hover {
  background-color: var(--cor-09);
  border-color: var(--cor-09);
}

.orcamento-produto input:focus + label {
  box-shadow: 0 0 0 2px var(--cor-p1);
  border-color: var(--cor-12);
}

.orcamento-produto label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: inline-block;
}

.orcamento-produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-dados {
  border-radius: 0 4px 4px 0;
  background: var(--cor-00) url("../../img/dec/bottom-right.svg") no-repeat bottom 20px right 20px;
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 20px;
}

.orcamento-detalhes {
  display: none;
  background: var(--cor-00);
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 4px;
  align-items: center;
}

.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 4px;
}

.orcamento-detalhes li img {
  max-width: 16px;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

@media (max-width: 1200px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 32px;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-produto {
    border-radius: 4px 4px 0 0;
    background: var(--cor-12)
  }
  .orcamento-dados {
    border-radius: 0 0 4px 4px;
  }
}

@media (max-width: 400px) {
    .orcamento-produto {
        grid-template-columns: 1fr;
    }
}
